html{
    min-height: 100vh;
}

.kanbansys-style-kanban{
    width: 100%; border-radius: 10px;
    min-width: 290px;
    padding-top: 9px;        
}

/* Color : Light theme */
.kanbansys-theme-light .kanbansys-style-kanban{
    background: #fafafa;
}

.kanbansys-theme-light.kanbansys-style-kanban-area{
    background: white;
    padding: 10px;
}

.kanbansys-theme-light .kanbansys-style-kanban{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #dfdfdf;    
}

.kanbansys-theme-light .kanbansys-ui-add .kanbansys-ui-add-line{
    background: #6b6b6b; 
}

.kanbansys-theme-light .kanbansys-style-kanban-header-num{
    color: #6b6b6b; background: #e8e8e8; 
}

.kanbansys-theme-light .kanbansys-ui-menu span.kanbansys-ui-menu-dot{
    background: #6b6b6b; 
}

.kanbansys-theme-light .kanbansys-style-kanban-header-title{
    color: #2e2e2e;
}

.kanbansys-theme-light .kanbansys-ui-menu-content::before{
    border-bottom: 9px solid #e8e8e8;
}

.kanbansys-theme-light .kanbansys-ui-menu-content::after{
    border-bottom: 9px solid white;
}

.kanbansys-theme-light .kanbansys-ui-menu-content{
    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    
}

.kanbansys-theme-light .kanbansys-ui-menu-title{
    color: #6b6b6b;
}

.kanbansys-theme-light .kanbansys-ui-menu-content{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.kanbansys-theme-light .kanbansys-style-kanban-body .kanbansys-style-item{
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 5px;       
}

/* Color : Dark theme */
.kanbansys-theme-dark .kanbansys-style-kanban{
    background: #000;
    border: solid 1px #2e2e2e;
}

.kanbansys-theme-dark.kanbansys-style-kanban-area{
    background: #1a1a1a;
    padding: 10px;
}

.kanbansys-style-right-margin-10{
    margin-right: 10px;
}

.kanbansys-style-kanban-area{
    width: calc(100vw - 20px);
    display: flex;
    overflow-x: scroll;
}
.kanbansys-theme-dark .kanbansys-style-kanban{
    box-shadow: rgba(88, 88, 88, 0.2) 0px 2px 8px 0px;
}

.kanbansys-theme-dark .kanbansys-ui-add .kanbansys-ui-add-line{
    background: #e8e8e8; 
}

.kanbansys-theme-dark .kanbansys-style-kanban-header-num{
    color: #e8e8e8; background: #303030; 
}

.kanbansys-theme-dark .kanbansys-ui-menu span.kanbansys-ui-menu-dot{
    background: #e8e8e8; 
}

.kanbansys-theme-dark .kanbansys-style-kanban-header-title{
    color: #e8e8e8;
}

.kanbansys-theme-dark .kanbansys-ui-menu-content::before{
    border-bottom: 9px solid #2e2e2e;
}

.kanbansys-theme-dark .kanbansys-ui-menu-content::after{
    border-bottom: 9px solid #1a1a1a;
}

.kanbansys-theme-dark .kanbansys-ui-menu-content{
    background: #1a1a1a;
    border: 1px solid #2e2e2e;
    border-radius: 5px;        
}

.kanbansys-theme-dark .kanbansys-ui-menu-title{
    color: #fff;
}

.kanbansys-theme-dark .kanbansys-ui-menu-content .kanbansys-ui-menu-menus{
    color: #e8e8e8;
}

.kanbansys-theme-dark .kanbansys-ui-menu-content{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px, rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
}

.kanbansys-theme-dark .kanbansys-style-kanban-body .kanbansys-style-item{
    background: #1a1a1a;
    border: 1px solid #2e2e2e;
    border-radius: 5px;       
}

.kanbansys-ui-add:hover .kanbansys-ui-add-line{
    background: #008cff;
}

.kanbansys-style-kanban-header{
    width: 100%; height: 30px; display: flex; padding: 5px;
}
.kanbansys-style-kanban-header-num{
    height: 23px; padding: 0px 10px;font-size: 12px; border-radius: 10px; font-weight: bold; line-height: 23px; 
}

.kanbansys-ui-menu{
    position: relative; height: 15px; width: 21px; margin-right: 15px; cursor: pointer; margin-left: auto;
}

.kanbansys-ui-menu span.kanbansys-ui-menu-dot{
    position: absolute; height: 3px; width: 3px;border-radius: 3px;
}

.kanbansys-style-kanban span.kanbansys-ui-menu-dot0{
    top: 10.5px; left: 5px;        
}

.kanbansys-style-kanban span.kanbansys-ui-menu-dot1{
    top: 10.5px; left: 13px;        
}

.kanbansys-style-kanban span.kanbansys-ui-menu-dot2{
    top: 10.5px; left: 21px;        
}

.kanbansys-ui-add {
    position: relative; width: 13px; height: 15px; cursor: pointer; margin-right: 25px;
}

.kanbansys-ui-add-line0{
    left: 0px; top: 11px;
}

.kanbansys-ui-add-line1{
    left: 0px; top: 11px; transform: rotate(90deg);
}

.kanbansys-ui-add-line{
    position: absolute; width: 13px; height: 1.5px; border-radius: 2px;
}

.kanbansys-style-kanban-header-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    margin-left: 4px;
    line-height: 23px;
}

.kanbansys-ui-menu-content{     
    position: absolute;
    top: 30px;
    right: -25px;
    width: 180px;
    padding: 8px 0;
}

.kanbansys-ui-menu-content::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 21px;
    top: -9px;
    border-right: 9px solid transparent;        
    border-left: 9px solid transparent;
}

.kanbansys-ui-menu-content::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 21px;
    top: -7.5px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
} 

.kanbansys-ui-menu-title{
    font-size: 11px;
    padding: 6px 6px 4px 14px;
    letter-spacing: 0.5px;        
}

.kanbansys-ui-menu-content .kanbansys-ui-menu-menus{
    padding: 6px 6px 6px 14px;
    font-size: 13px;
    user-select: none;
}

.kanbansys-ui-menu-content .kanbansys-ui-menu-menus:hover{
    background: #006aff;
    color: white;
}

.kanbansys-style-kanban-body .kanbansys-style-item{
    width: calc(100% - 44.5px);
    padding: 10px;
    margin: 12px;    
}

.kanbansys-style-item{
    cursor: move;
    z-index: 100;
}

.kanbansys-event-drag{
    
}

.kanbansys-event-dragging{
    opacity: 0.5;
    transition: 0.2s;
}

.kanbansys-ui-display-none{
    display: none;
}

.kanbansys-style-simple{

}

.kanbansys-event-card{
    transition: 0.3s;    
}

.kanbansys-style-simple .title{
    font-weight: bold;
    padding-left: 4px;
    font-size: 13px;
}

.kanbansys-style-simple .person{
    margin-top: 2px;
    padding-left: 4px;
    font-size: 11px;
}

.kanbansys-theme-dark .kanbansys-style-simple{
    color: #b6b6b6;
}

.kanbansys-event-tmp-insert{
    opacity: 0.6;
    transition: 0.2s;
}

.kanbansys-event-dragging-none{
    display: none;
}

.kanbansys-style-issue .issueTitleContainer{
    display: flex;
}

.kanbansys-style-issue .issuePersonContainer{
    display: flex;
    padding: 4px 0 0 5px;
}

.kanbansys-style-issue .issueIcon{
    width: 25px;
    height: 25px;
    object-fit: fill;
    object-position: center;
    border-radius: 17.5px;
    margin: 4px 8px 4px 0;
}

.kanbansys-style-issue a.issueLink{
    text-decoration: none;
    font-family: sans-serif;
    display: block;
}

.kanbansys-style-issue .issueTitle{
    font-weight: bold;
    font-size: 15px;
    line-height: 34px;
}

.kanbansys-style-issue .issueTags{
    display: inline-block;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    padding: 2.5px 6px 4px 6px;
    margin: 10px 8px 4px 0;
    border-radius: 11px;
    border-style: solid;
    border-width: 0.5px;
}

.kanbansys-style-issue .issueDate{
    font-size: 12.5px
}

.kanbansys-style-issue .issuePerson{
    font-size: 14px;
    padding: 2px 3px;
}

.kanbansys-style-issue .issuePersonIcon{
    width: 15px;
    height: 15px;
    object-fit: fill;
    object-position: center;
    border-radius: 7.5px;
    margin: 5px 7px 5px 0;
}

.kanbansys-theme-dark .issueTitle{
    color: #d9d9d9;
}

.kanbansys-theme-dark .issueDate{
    color: #ababab;
}

.kanbansys-theme-dark .issuePerson{
    color: white;
}

.kanbansys-theme-light .issueTitle{
    color: #2e2e2e;
}

.kanbansys-theme-light .issueDate{
    color: #5e5e5e;
}

.kanbansys-theme-light .issuePerson{
    color: #252525;
}
